[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=VMWare View
Categories=Application;
Icon=/usr/share/pixmaps/view.ico
Exec=/usr/bin/vmware-view
