[Unit]
Description=RPi-TC Startup Video
DefaultDependencies=no
After=systemd-readahead-collect.service systemd-readahead-replay.service
Before=sysinit.target
ConditionPathIsReadWrite=/proc/sys/

[Service]
Type=simple
ExecStart=/usr/bin/sudo /usr/bin/h264.bin /opt/RPi-TC.m4v

[Install]
WantedBy=multi-user.target
